<div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center"
    fxLayoutGap="20px">

    <mat-form-field fxFlex.sm="60" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="30" appearance="outline">
        <input id="input-filter" matInput type="text" [(ngModel)]="filter"
            placeHolder="Introduzca término de búsqueda">
        <button *ngIf="filter" matSuffix id="reset-button"
                mat-icon-button (click)="resetFilter()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
      
    <button id="filter-button" class="filter-button" mat-raised-button color="primary"
        [disabled]="filter.length === 0"
        (click)="doFilter()">
        Filtrar
    </button>
</div>