.padding-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-size: 1.8em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-item-button {
    transform: translateY(-10px);
}

.delete-item-buttom {
    transform: translateY(4px);
    font-size: 47px;
    height: 47px;
    width: 47px;
}

.super-powers-group {
    margin-top: 10px;
}
