<div fxLayout="column">
  <mat-table id="heroesTable" (window:resize)="resizeTable()" 
      [dataSource]="heroes" class="mat-elevation-z2">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxFlex.xs="30" fxFlex.sm="27.5" fxFlex.md="17.5" fxFlex.gt-md="16.4">
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex.xs="30" fxFlex.sm="27.5" fxFlex.md="17.5" fxFlex.gt-md="16.4">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef fxFlex.md="17.5" fxFlex.gt-md="16.4">
          Género
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex.md="17.5" fxFlex.gt-md="16.4">
          {{ element.gender }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isHuman">
        <mat-header-cell *matHeaderCellDef fxFlex.gt-md="16.4">
          Humano
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex.gt-md="16.4">
          {{ element.isHuman ? 'Sí' : 'No' }} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="superPowers">
        <mat-header-cell *matHeaderCellDef fxFlex.sm="27.5" fxFlex.md="17.5" fxFlex.gt-md="16.4">
          Súper Podéres
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex.sm="27.5" fxFlex.md="17.5" fxFlex.gt-md="16.4">
          <ul>
            <li *ngFor="let superPower of element.superPowers">
              {{ superPower }}
            </li>
          </ul> 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef fxFlex.md="17.5" fxFlex.gt-md="16.4">
          Equipo
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex.md="17.5" fxFlex.gt-md="16.4">
          {{ element.team }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef fxFlex.xs="70" fxFlex.sm="45" fxFlex.md="30" fxFlex.gt-md="18">
          Opciones
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex.xs="70" fxFlex.sm="45" fxFlex.md="30" fxFlex.gt-md="18"> 
          <div fxLayout="row" fxLayoutGap="15px">
            <button mat-raised-button
              (click)="showHero(element.id)">
              <mat-icon>zoom_in</mat-icon>
            </button>

            <button mat-raised-button color="primary"
              (click)="editHero(element.id)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-raised-button color="warn"
              (click)="deleteHero(element.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [length]="paginationResult.numOfItems"
              [pageSize]="pagination.itemsPerPage"
              [pageSizeOptions]="[5, 10, 25]"
              [pageIndex]="pagination.pageNumber"
              (page)="handlePaginationChanges($event)">
  </mat-paginator>
</div>